
  <section class="livrosorte">
    <div class="imagem">
      <img src='{{IMG_PATH ~ "livro#{livro.id}.jpg" }}' width="300px">
      <div class="avaliacao">
        {% for i in 1..5 %}
          <a href="javascript:void(0)" onclick="Avaliar({{ i }})">
            <img src="{{IMG_PATH ~ "star0.png" }}" id="s{{i}}">
          </a>
        {% endfor %}
        <p id="rating">0</p>
    </div>

    <div class="texto">
      <h1>{{livro.titulo}}</h1>
      <p>{{livro.sinopse}}</p>
      
      <h3>Categorias</h3>
      {% for categoria in livro.categorias %}
        {{categoria.nome}}
      {% endfor %}
      <h3>Autores</h3>
      {% for autor in livro.autores %}
        {{autor.nome}}
      {% endfor %}
    </div>
  </section>
  </div>
</body>